body {
	background-color: #A2DED0;
}

.jumbotron {
 background-image:url('http://upload.wikimedia.org/wikipedia/commons/6/62/Drip_Coffee_Bangkok.jpg'); 
 padding: 18%;
 padding-left: 0%;
 padding-top: 23%;
 background-repeat: no-repeat;
 background-size: cover;
 width: 100%;
 margin-top: -40px;
 margin-bottom: 0px;
 background-position:  center;
 color: white;
}


.container-fluid li{
	float: right;
	display: inline-block;
	margin: 3px;
}

.mission {
background-color: #1D1D1D;
width: 100%;
padding-top: 40px;
padding-bottom: 40px;

text-align: center;
color: white;
}

.features {
	padding-top: 40px;
	padding-bottom: 40px;
}

.footer {
	background: #FF0000;
	width: 100%;
	padding-bottom: 40px;
	color: white;
	text-align: right;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 10px;
}

.footer ul li {
    display: inline-block;
    list-style: none;
    padding: 2%;
    float: right;
  }

  .footer p{
  	float: left;
  	list-style: none;
  	padding-top: 2%;
  }


